@charset "UTF-8";

#wrap {
	width: 1200px;
	margin: auto;	
}

header  {
	height: 70px;
}

.content > .join-box {
	width: 400px;
}
.content > .login-box {
	width: 400px;
}

.img-icon {
	font-size: 25px;
}

footer {
	height: 50px
}